@model Enabill.Web.Models.TimeDayModel

<table style="width: 96%; margin: auto;">
    <tr>
        <th>
            WorkSessions
        </th>
    </tr>
    @foreach (var ws in Model.DayWorkSessions)
    {
        <tr>
            <td>From <strong>@ws.StartTime.ToString("HH:mm")</strong> to <strong>@ws.EndTime.ToString("HH:mm")</strong> (<strong>@ws.TotalTime hrs</strong> with @(ws.LunchTime)hr lunch)</td>
        </tr>
    }
    <tr>
        <th>Total hours worked : <strong>@Model.DayWorkSessions.Sum(ws => ws.TotalTime).ToString() hrs</strong></th>
    </tr>
</table>

@if (Model.DayWorkSessions.Count > 0)
{
    <div id="userWorkAllocations">
        <h3>Allocated Time</h3>
        <table width="96%">
            <tr>
                <th>Project</th>
                <th>Activity</th>
                <th>Hours</th>
                <th>Remark</th>
                <th></th>
            </tr>
            @foreach (var all in Model.WorkAllocations)
            {
                <tr>
                    <td>@all.Project.ProjectName</td>
                    <td>@all.Activity.ActivityName</td>
                    <td>
                        @all.WorkAllocation.HoursWorked
                    </td>
                    <td>
                        @all.WorkAllocation.Remark
                    </td>
                    <td>
                        @if (all.Activity.CanHaveNotes && all.WorkAllocation.WorkAllocationID > 0)
                        {
                            <a class="ui-icon ui-icon-note" href="/Note/Edit/@all.WorkAllocation.WorkAllocationID"></a>
                        }
                    </td>
                </tr>
            }
            <tr>
                <th colspan="2">Unallocated</th>
                @if (Model.User.GetUnallocatedTime(Model.WorkDay) == 0)
                {
                    <th>@Model.User.GetUnallocatedTime(Model.WorkDay).ToString("0.00")</th>
                }
                else
                {
                    <th class="timeError">@Model.User.GetUnallocatedTime(Model.WorkDay).ToString("0.00")</th>
                }
                <th colspan="2"></th>
            </tr>
        </table>
    </div>
}