@model Enabill.Web.Models.InvoiceRuleModel

@section head{
    @IncludeControllerScript(true)
    <script type="text/javascript" runat="server">
        $(function () {
            FixedCostLines.updateRuleLines();
        });
    </script>
}
@{
    ViewBag.Title = "Edit Fixed Cost Rule";
}
<div class="marginView">
    @Html.TitleTable("tblEditFixedCost", string.Empty, "<b>Fixed Cost Invoice Rule:</b> " + Model.Client.ClientName, null, null, null, null, null, "ucEditCol5", @Model.InvoiceRule.InvoiceRuleID)
    <div class="padView">
        <table class="subTable fullWidth">
            <tr>
                <td class="borderRight" valign="top">
                    <form id="FixedCostRule">
                        <h4 class="center">
                            Invoice Rule Details
                        </h4>
                        <table class="underline fullWidth">
                            <tr>
                                <th>
                                    Client
                                </th>
                                <td>
                                    @Model.Client.ClientName
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Project
                                </th>
                                <td>
                                    @Model.InvoiceRule.ProjectName
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Billing Method Type
                                </th>
                                <td>
                                    Fixed Cost
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Invoice Sub Category
                                </th>
                                <td>
                                    @Html.DropDownList("InvoiceSubCategoryID")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Invoice Contact
                                </th>
                                <td>
                                    @Html.DropDownList("DefaultContactID")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Activation Date
                                </th>
                                <td>
                                    @Html.TextBox("DateFrom", Model.InvoiceRule.DateFrom.ToDisplayString())
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Deactivation Date
                                </th>
                                <td>
                                    @Html.TextBox("DateTo", Model.InvoiceRule.DateTo.ToDisplayString())
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Order Number
                                </th>
                                <td>
                                    @Html.TextBox("OrderNo", Model.InvoiceRule.OrderNo)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <td>
                                    @Html.TextArea("Description", Model.InvoiceRule.Description)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Default Invoice Day of Month
                                </th>
                                <td>
                                    @Html.DropDownList("InvoiceDay")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Print Option
                                </th>
                                <td>
                                    @Html.DropDownList("PrintOptionTypeID")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Layout Option
                                </th>
                                <td>
                                    @Html.DropDownList("PrintLayoutTypeID")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Ticket Remark Option
                                </th>
                                <td>
                                    @Html.DropDownList("PrintTicketRemarkOptions")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Attach TimeSheets To Invoice
                                </th>
                                <td>
                                    @Html.CheckBox("PrintTimeSheet", Model.InvoiceRule.PrintTimeSheet)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Print Credits
                                </th>
                                <td>
                                    @Html.CheckBox("PrintCredits", Model.InvoiceRule.PrintCredits)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" id="Save" value="Save" onclick="InvoiceRule.saveFixedCost();" />
                                    <input type="button" id="Close" value="Close" onclick="InvoiceRule.close();" />
                                    <input type="button" id="Cancel" value="Cancel" onclick="InvoiceRule.cancel();" />

                                    @if (Model.InvoiceRule.CanDelete)
                                    {
                                        <input type="button" id="Delete" value="Delete" onclick="InvoiceRule.deleteInvoiceRule();" />
                                    }
                                </td>
                            </tr>
                        </table>
                        @Html.Hidden("ClientID", Model.Client.ClientID)
                        @Html.Hidden("ProjectID", Model.Project.ProjectID)
                        @Html.Hidden("InvoiceRuleID", Model.InvoiceRule.InvoiceRuleID)
                        @Html.Hidden("ContactList")
                    </form>
                </td>
                <td class="borderRight" style="width: 33%;" valign="top">
                    <h4 class="center">
                        CC Contacts to Receive Invoice
                    </h4>
                    <div class="fullWidth">
                        <ul style="list-style: none;">
                            @foreach (var cont in Model.InvoiceRuleContacts.Where(c => c.IsSelected))
                            {
                                <li>
                                    <input class="Contacts" type="checkbox" value="@cont.Contact.ContactID" checked="checked" />@cont.Contact.ContactName
                                </li>
                            }
                            @foreach (var cont in Model.InvoiceRuleContacts.Where(c => !c.IsSelected))
                            {
                                <li>
                                    <input class="Contacts" type="checkbox" value="@cont.Contact.ContactID" />@cont.Contact.ContactName
                                </li>
                            }
                        </ul>
                    </div>
                </td>
                <td style="width: 33%;" valign="top">
                    <h4 class="center">
                        Accrual Periods of the Project
                    </h4>
                    @if (Model.InvoiceRule.IsActive)
                    {
                        @Html.Partial("ucFixedCostLinesOpen", Model)
                    }
                    else
                    {
                        @Html.Partial("ucFixedCostLinesClosed", Model)
                    }
                </td>
            </tr>
        </table>
    </div>
</div>