@model Enabill.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class="marginView">
    @Html.TitleTable("tblChgPwd", "", "<b>Change Password</b>", Url.Content("~/Content/Img/change_password_20x20.png"))
    <div class="padView">

        <table class="subTable">
            <tr>
                <td>
                    <h4>Account Information</h4>
                    Password Requirements:
                    <ul>
                        <li>@ViewBag.PasswordLength Characters minimum length</li>
                        <li>Upper Case</li>
                        <li>Lower Case</li>
                        <li>Numbers</li>
                        <li>Symbols</li>
                    </ul>

                    <a target="_blank" rel="noopener noreferrer" href="https://www.lastpass.com/password-generator">Click here to generate a strong password.</a>

                    <br />

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
                        <div>

                            @if (CurrentUser.Password != Helpers.HashedString(Settings.DefaultUserPassword))
                            {
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.OldPassword)
                                </div>
                                <div class="editor-field">
                                    @Html.PasswordFor(m => m.OldPassword)
                                    @Html.ValidationMessageFor(m => m.OldPassword)
                                </div>
                            }
                            else
                            {
                                @Html.Hidden("OldPassword", Settings.DefaultUserPassword);
                            }

                            <div class="editor-label">
                                New password
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(m => m.NewPassword)
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(m => m.ConfirmPassword)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(m => m.ConfirmPassword)
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>

                            <p>
                                <input type="submit" value="Change Password" />
                            </p>
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>