@model Enabill.Web.Models.FeedbackInstanceModel

<form id="FeedbackFrm">
    @Html.Hidden("ThreadID", Model.Thread.FeedbackThreadID)
    <table class="general fullWidth">
        <tr>
            <th colspan="4" class="center">Feedback Thread</th>
        </tr>
        <tr>
            <td>
                <span>Feedback Type:</span>
                <br />
                <span style="margin-left: 30px;">@Model.Thread.FeedBackTypeName</span>
            </td>
            <td>
                <span>Urgency:</span>
                <br />
                <span style="margin-left: 30px;">@Model.Thread.FeedBackUrgencyTypeName</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span>Subject:</span>
                <br />
                <span style="margin-left: 30px;">@Model.Thread.FeedbackSubject</span>
            </td>
        </tr>
        @foreach (Enabill.Models.FeedbackPost post in Model.Posts)
        {
            <tr>
                <td colspan="4">
                    @Html.Partial("ucFeedbackPost", post)
                </td>
            </tr>
        }
        @if (!Model.Thread.IsClosed)
        {
            <tr>
                <th colspan="4">Reply</th>
            </tr>
            <tr>
                <td colspan="4">
                    @Html.TextArea("PostText", string.Empty, new { @class = "crudFCK" })
                </td>
            </tr>
            <tr>
                <td colspan="4" class="center">
                    <input type="button" onclick="Feedback.submitFeedbackPost(); return false;" value="Submit" />
                    <input type="button" onclick="Feedback.closeThread(); return false;" value="Close Thread" />
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    <span class="title">Closed By:</span>
                    <br />
                    <span style="margin-left: 30px;">@Model.ThreadClosedBy</span>
                </td>
                <td>
                    <span class="title">Date Closed:</span>
                    <br />
                    <span style="margin-left: 30px;">@Model.Thread.DateClosed.Value.ToLongDisplayString()</span>
                </td>
            </tr>
        }
    </table>
</form>