@model Enabill.Web.Models.FlexiTimeIndexModel

@Html.TitleTable("tblFlexiStatement", "", "<b>FlexiTime: </b> " + Model.User.FullName, Url.Content("~/Content/Img/timesheet_20x20.png"), "ucIndexCol3", Model.FlexiDate, null, null, "ucIndexCol5", Model.User)
<div id="ucFlexiTimeStatement" class="padView">
    <table class="subTable">
        <tr>
            <td width="52%">
                <h2>FlexiTime Statement</h2>
                @Html.Partial("ucFlexiTimeStatement", Model)
            </td>
            <td style="min-width:5%;"></td>
            <td>
                <h2>FlexiDays</h2>
                @Html.Partial("ucFlexiDays", Model)

                <h2>Manual Adjustments</h2>
                @Html.Partial("ucManualAdjustments", Model.FlexiManualAdjustments)

                <h2>WorkAllocation Exceptions</h2>
                @Html.Partial("ucWorkAllocationExceptions", Model.WorkAllocationExceptions)
            </td>
        </tr>
    </table>
</div>