@model string

<div class="padView">
    <form id="frmLeaveGeneralReport" method="post">
        <table>
            <tr>
                <th>Date From</th>
                <td>@Html.TextBox("DateFrom", DateTime.Today.ToDisplayString())</td>
            </tr>
            <tr>
                <th>Date To</th>
                <td>@Html.TextBox("DateTo", DateTime.Today.ToLastDayOfMonth().ToDisplayString())</td>
            </tr>
            <tr>
                <th>Employees</th>
                <td>@Html.DropDownList("EmployeeGeneralLeaveList")</td>
            </tr>
            <tr>
                <th>Employment Type</th>
                <td>@Html.DropDownList("EmploymentTypeGeneralLeaveList")</td>
            </tr>
            <tr>
                <th>Leave Type</th>
                <td>@Html.DropDownList("LeaveTypeGeneralLeaveList")</td>
            </tr>
            <tr>
                <th>Approval Status</th>
                <td>@Html.DropDownList("ApprovalStatusGeneralLeaveList")</td>
            </tr>
        </table>
    </form>
</div>