@model Enabill.Web.Models.InvoiceWorkAllocationModel

@* This view is heavily entwined into the javascript on invoice.js... if changing this html, please test and change on javascript - Gavin *@

<table class="subTable general fullWidth">
    <tr>
        <th>
            ID
        </th>
        <th>
            Date
        </th>
        <th>
            Owner
        </th>
        <th>
            Remark
        </th>
        <th>
            Note
        </th>
        <th>
            Hours
        </th>
        <th>
            Rate (@Model.Invoice.Client.GetCurrency(Model.Invoice.Client.CurrencyTypeID).CurrencyISO)
        </th>
        <th>
            Gross Amount (@Model.Invoice.Client.GetCurrency(Model.Invoice.Client.CurrencyTypeID).CurrencyISO)
        </th>
        <th>
            Credited Amount (@Model.Invoice.Client.GetCurrency(Model.Invoice.Client.CurrencyTypeID).CurrencyISO)
        </th>
        <th>
            Nett Amount (@Model.Invoice.Client.GetCurrency(Model.Invoice.Client.CurrencyTypeID).CurrencyISO)
        </th>
    </tr>
    @foreach (var activity in Model.Activities)
    {
        <tr>
            <th colspan="5">@activity.Activity.ActivityName</th>
            <th class="center">
                @activity.WorkAllocations.Sum(wa => wa.WorkAllocation.TotalHours).ToDoubleString()
            </th>
            <th class="TotalGrossAmountTD right" colspan="2">
                 @activity.WorkAllocations.Sum(wa => wa.WorkAllocation.GrossAmount).ToDoubleString()
            </th>
            <th class="TotalCreditAmountTD right">
                 @activity.WorkAllocations.Sum(wa => wa.WorkAllocation.CreditAmount).ToDoubleString()
            </th>
            <th class="TotalNettAmountTD right">
                 @activity.WorkAllocations.Sum(wa => wa.WorkAllocation.NettAmount).ToDoubleString()
            </th>
        </tr>

        foreach (var item in activity.WorkAllocations)
        {
            <tr>
                <td class="right">
                    @item.WorkAllocation.WorkAllocationID
                </td>
                <td>
                    @item.WorkAllocation.DayWorked.ToDisplayString()
                </td>
                <td>
                    @item.User.FullName
                </td>
                <td>
                    @item.WorkAllocation.Remark
                </td>
                <td class="center">
                    @if (item.NoteID.HasValue && item.NoteID.Value > 0)
                    {
                        <a href="#" onclick="Note.quickView(@item.WorkAllocation.WorkAllocationID); return false;">@item.NoteID</a>
                    }
                </td>
                <td class="center">
                    @item.WorkAllocation.TotalHours.ToDoubleString()
                </td>
                <td class="right">
                     @item.WorkAllocation.HourlyRate.ToDoubleString()
                </td>
                <td class="right">
                     @item.WorkAllocation.GrossAmount.ToDoubleString()
                </td>
                <td class="right">
                    @if (item.WorkAllocation.CreditAmount != 0)
                    {
                        <text> </text>@item.WorkAllocation.CreditAmount.ToDoubleString()
                    }
                </td>
                <td class="right">
                     @item.WorkAllocation.NettAmount.ToDoubleString()
                </td>
            </tr>
        }
    }
</table>

@*

    @model Enabill.Web.Models.InvoiceWorkAllocationModel

    <table class="subTable general fullWidth">
        <tr>
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Owner
            </th>
            <th>
                Remark
            </th>
            <th>
                Note
            </th>
            <th>
                Hours
            </th>
            <th>
                Rate
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Credit Amount
            </th>
        </tr>
        @foreach(var item in Model.WorkAllocations)
        {
            <tr>
                <td>
                    @item.WorkAllocation.WorkAllocationID
                </td>
                <td>
                    @item.WorkAllocation.DayWorked.ToDisplayString()
                </td>
                <td>
                    @item.User.FullName
                </td>
                <td>
                    @item.WorkAllocation.Remark
                </td>
                <td>
                    @if (item.NoteID.HasValue)
                    {
                        <a href="#" onclick="return false;">@item.NoteID</a> // TODO
                    }
                </td>
                <td>
                    @item.WorkAllocation.HoursWorked
                </td>
                <td>
                    R @item.WorkAllocation.HourlyRate.ToDoubleString()
                </td>
                <td>
                    R @item.WorkAllocation.HourlyRate
                </td>
                <td>
                    @(item.WorkAllocation.CreditAmount == 0 ? string.Empty : "R " + item.WorkAllocation.CreditAmount.ToDoubleString())
                </td>
            </tr>
        }
    </table>
*@